.floating_button {
  width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 25px;
  border: 0;
  position: fixed;
  bottom: 8px;
  font-size: 16px;
  left: 10px;
  color: white;
  z-index: 200;
  cursor: pointer;
  background-color: var(--e-global-color-4366c97d);
  &:hover {
    background-color: black;
    transition: background-color 0.5s;
  }
  label {
    display: flex;
    margin-left: 5px;
  }
}
