.removal_page {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0px 40px 40px 40px;
  //   justify-content: space-between;
  .removal_page__left {
    // border: 2px solid #eeeeee;
    border-radius: 5px;
    width: 320%;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 20px;
    p {
      font-family: 'Poppins', Sans-serif;
    }
    .left__heading1 {
      color: black;
      font-weight: 500;
      line-height: 2;
      font-size: 15px;
      margin-bottom: 20px;
      button {
        background-color: #0084ff;
        padding: 5px 30px;
        color: white;
        border: 0px;
        border-radius: 5px;
        &:hover {
          background-color: black;
          transition: background-color 0.5s ease-in-out;
        }
      }
    }
    .left__heading2 {
      color: black;
      font-weight: 500;
      line-height: normal;
      font-size: 30px;
      margin-bottom: 15px;
    }
    .left__heading3 {
      color: black;
      line-height: 1.2;
      margin-bottom: 5px;
      font-size: 18px;
      text-align: justify;
      margin-bottom: 20px;
    }
    .left__form {
      border: 1px solid #eee;
      border-radius: 5px;
      .form__tabs {
        margin: 15px 15px 12px 15px;
        border: 1px solid #eee;
        .ant-tabs-tab-btn {
          color: #c36;
          font-size: 18px;
          font-family: poppins;
          &:hover {
            color: #0084ff;
          }
        }
        .ant-tabs-tab-active .ant-tabs-tab-btn {
          line-height: 1.8;
          font-size: 18px;
          color: #333;
        }
      }
      a {
        text-decoration: none;
      }
      button {
        display: inline-block;
        margin: 0px 10px;
        text-align: center;

        width: 100px;
        align-self: center;
        padding: 9px 12px;
        border: 2px solid #eee;
        border-radius: 5px;
        font-size: 20px;
        background-color: #0084ff;
        font-family: 'Poppins', Sans-serif;
        color: white;
        cursor: pointer;
        &:hover {
          background-color: black !important;
          transition: background-color 0.5s ease-in-out;
        }
      }
      .buttonlist__additional {
        background-color: #413fc8;
        &:hover {
          background-color: #23a455 !important;
          transition: background-color 0.5s ease-in-out;
        }
      }
      .buttonlist__family {
        background-color: #3fc874;
        &:hover {
          background-color: #23a455 !important;
          transition: background-color 0.5s ease-in-out;
        }
      }
    }
  }
  .removal_page__right {
    display: flex;
    flex-direction: column;
    width: 100%;
    // margin-left: 25px;
    .right__info {
      border: 2px solid white;
      background-color: #fffcbe;
      border-radius: 5px;
      padding: 10px 20px;
      p {
        font-family: 'Poppins', Sans-serif;
      }
      .info__heading1 {
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
        color: black;
        // font-family: poppins;
        font-size: 20px;
        font-weight: 500;
      }
      .info__heading2 {
        // text-align: justify;
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        font-weight: 400;
      }
      .viewremoval__button {
        display: block;
        padding: 9px;
        width: 80%;
        text-align: center;
        margin: 0 auto 20px auto;
        font-size: 17px;
        text-align: center;
        background-color: #ff5300;
        font-family: 'Poppins', Sans-serif;
        border-radius: 5px;
        border: 0;
        outline: 0;
        text-decoration: none;
        color: white;
        &:hover {
          background-color: #c64000;
          transition: background-color 0.5s ease-in-out;
        }
      }
    }

    .right__family {
      margin-top: 20px;
      border-radius: 5px;

      button {
        display: block;
        padding: 9px;
        width: 100%;
        text-align: center;
        margin: 0 auto 20px auto;
        font-size: 17px;
        text-align: center;
        font-family: 'Poppins', Sans-serif;
        border-radius: 5px;
        border: 0;
        outline: 0;
        text-decoration: none;
        color: white;
        background-color: #3fc874;
        &:hover {
          background-color: #23a455 !important;
          transition: background-color 0.5s ease-in-out;
        }
      }
    }
  }
  input {
    font-size: 18px;
    font-family: 'Poppins', Sans-serif;
    font-weight: 400;
  }
}
@media screen and (max-width: 1000px) {
  .removal_page {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px;
    margin: 0px 10px 10px 10px;

    //   justify-content: space-between;
    .removal_page__left {
      width: 100%;
      // border: 2px solid #eeeeee;
      border-radius: 5px;
      //   width: 0%;
      padding-top: 10px;
      padding-left: 30px;
      padding-right: 20px;
      p {
        font-family: 'Poppins', Sans-serif;
      }
      .left__heading1 {
        color: black;
        font-weight: 500;
        line-height: 2;
        font-size: 15px;
        margin-bottom: 20px;
        button {
          background-color: #0084ff;
          padding: 5px 30px;
          color: white;
          border: 0px;
          border-radius: 5px;
          &:hover {
            background-color: black;
            transition: background-color 0.5s ease-in-out;
          }
        }
      }
      .left__heading2 {
        color: black;
        font-weight: 500;
        line-height: normal;
        font-size: 20px;
        margin-bottom: 15px;
      }
      .left__heading3 {
        color: black;
        line-height: 1.2;
        margin-bottom: 5px;
        font-size: 15px;
        text-align: justify;
        margin-bottom: 20px;
      }
      .left__form {
        border: 1px solid #eee;
        border-radius: 5px;
        .form__tabs {
          margin: 15px 15px 12px 15px;
          border: 1px solid #eee;
          .ant-tabs-tab-btn {
            color: #c36;
            font-size: 18px;
            font-family: poppins;
            &:hover {
              color: #0084ff;
            }
          }
          .ant-tabs-tab-active .ant-tabs-tab-btn {
            line-height: 1.8;
            font-size: 18px;
            color: #333;
          }
        }
        a {
          text-decoration: none;
        }
        button {
          display: inline-block;
          margin: 0px 10px;
          text-align: center;

          width: 100px;
          align-self: center;
          padding: 9px 12px;
          border: 2px solid #eee;
          border-radius: 5px;
          font-size: 20px;
          background-color: #0084ff;
          font-family: 'Poppins', Sans-serif;
          color: white;
          cursor: pointer;
          &:hover {
            background-color: black !important;
            transition: background-color 0.5s ease-in-out;
          }
        }
        .buttonlist__additional {
          background-color: #413fc8;
          &:hover {
            background-color: #23a455 !important;
            transition: background-color 0.5s ease-in-out;
          }
        }
        .buttonlist__family {
          background-color: #3fc874;
          &:hover {
            background-color: #23a455 !important;
            transition: background-color 0.5s ease-in-out;
          }
        }
      }
    }
    .removal_page__right {
      display: flex;
      flex-direction: column;
      padding-top: 10px;
      padding-left: 30px;
      padding-right: 20px;
      //   padding: 10px 40px 40px 40px;
      .right__info {
        border: 2px solid white;
        background-color: #fffcbe;
        border-radius: 5px;
        // padding: 10px 20px;
        p {
          font-family: 'Poppins', Sans-serif;
        }
        .info__heading1 {
          text-align: center;
          margin-top: 15px;
          margin-bottom: 15px;
          color: black;
          // font-family: poppins;
          font-size: 20px;
          font-weight: 500;
        }
        .info__heading2 {
          // text-align: justify;
          font-family: 'Poppins', sans-serif;
          font-size: 14px;
          font-weight: 400;
        }
        .viewremoval__button {
          display: block;
          padding: 9px;
          width: 80%;
          text-align: center;
          margin: 0 auto 20px auto;
          font-size: 17px;
          text-align: center;
          background-color: #ff5300;
          font-family: 'Poppins', Sans-serif;
          border-radius: 5px;
          border: 0;
          outline: 0;
          text-decoration: none;
          color: white;
          &:hover {
            background-color: #c64000;
            transition: background-color 0.5s ease-in-out;
          }
        }
      }
      .right__family {
        margin-top: 20px;
        border-radius: 5px;

        button {
          display: block;
          padding: 9px;
          width: 100%;
          text-align: center;
          margin: 0 auto 20px auto;
          font-size: 17px;
          text-align: center;
          font-family: 'Poppins', Sans-serif;
          border-radius: 5px;
          border: 0;
          outline: 0;
          text-decoration: none;
          color: white;
          background-color: #3fc874;
          &:hover {
            background-color: #23a455 !important;
            transition: background-color 0.5s ease-in-out;
          }
        }
      }
    }
  }
}
