.memberform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 1.2;
}

.memberform div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.memberform div label {
  font-size: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0.4;
      -ms-flex: 0.4;
          flex: 0.4;
  font-weight: 500;
  font-family: poppins;
}

.memberform div p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
}

.memberform div p input[type='text'],
.memberform div p input[type='date'] {
  height: 46px;
  padding: 15px;
  border: 1px solid #333;
  border-radius: 3px;
}

.memberform div p input[type='text']:focus,
.memberform div p input[type='date']:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.memberform div p span {
  margin-top: 5px;
  font-weight: 400;
  font-size: 18px;
}

.memberform div .gender__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.memberform div .gender__checkbox input {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  padding: 10px;
  margin: 10px;
}

@media screen and (max-width: 1000px) {
  .memberform {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    line-height: 1.2;
  }
  .memberform div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .memberform div label {
    font-size: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 0.4;
        -ms-flex: 0.4;
            flex: 0.4;
    font-weight: 500;
    font-family: poppins;
  }
  .memberform div p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 100%;
  }
  .memberform div p input[type='text'],
  .memberform div p input[type='date'] {
    height: 46px;
    padding: 15px;
    border: 1px solid #333;
    border-radius: 3px;
  }
  .memberform div p input[type='text']:focus,
  .memberform div p input[type='date']:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .memberform div p span {
    margin-top: 5px;
    font-weight: 400;
    font-size: 18px;
  }
  .memberform div .gender__checkbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .memberform div .gender__checkbox input {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    padding: 10px;
    margin: 10px;
  }
}
/*# sourceMappingURL=family_member.css.map */