.footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 50px 50px 20px 50px;
  background-color: hsl(0, 0%, 12%);
  .logo {
    filter: brightness(184%) contrast(0%) saturate(0%) blur(0px)
      hue-rotate(0deg);
  }

  .footertop {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: #ffffffbf;
    // padding: 50px 50px 20px 50px;
    .footertop__left {
      display: flex;
      flex: 0.5;
      flex-direction: column;
      padding: 50px;
      .social-buttons {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        .social {
          align-content: center;
          line-height: 200%;
          border-radius: 5px;
          width: 40px;
          height: 40px;
          font-size: 20px;
          text-align: center;
          color: #ffffff;
          transition: 0.3s;
          margin-left: 2px;
          margin-right: 10px;
          margin-top: 20px;
          &:hover {
            color: #ffffff;
            filter: brightness(50%);
          }
        }
      }

      .facebook {
        background-color: #3b5998;
      }

      .linkedin {
        background-color: #0077b5;
      }

      .youtube {
        background-color: #cd201f;
      }
    }
    .footertop__right {
      flex: 0.5;
      padding: 50px;
      .fa {
        margin-right: 5px;
      }

      .description {
        font-family: 'Poppins', Sans-serif;
        font-size: 13px;
      }

      .right-col h2 {
        font-size: 20px;
        color: #ffffff;
        margin-bottom: 30px;
      }

      .contact-line a {
        color: inherit;
        &:hover {
          color: #0084ff;
          text-decoration: none;
        }

        a:hover {
          color: #0084ff;
          text-decoration: none;
        }
      }
      .sign-up-btn {
        background-color: #0084ff;
        border-style: solid;
        border-width: 2px;
        border-color: #0084ff;
        padding: 10px 13px;
        color: #ffffff;
        border-radius: 3px;
        font-size: 15px;
        transition: 0.2s;
      }

      .sign-up-btn:hover {
        color: #0084ff;
        text-decoration: none;
        background-color: #1e1e1e;
      }
      h2 {
        color: white;
      }
    }
  }
  .footermiddle {
    .line {
      height: 0.1px;
      background: rgba(255, 255, 255, 0.5);
    }
    .footermiddle__featured {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 90px;
      p {
        font-size: 30px;
        margin-top: 25px;
        margin-right: 20px;
        color: #ffffff26;
        font-weight: bold;
        // padding: 10px;
        filter: brightness(0%) contrast(0%) saturate(0%) blur(0px)
          hue-rotate(0deg);
      }
      img {
        filter: brightness(50%) contrast(50%) saturate(0%) blur(0px)
          hue-rotate(0deg);
      }
    }
    .footer__bottom {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      .bottom__privacy {
        display: flex;
        color: white;
        align-items: center;
        font-size: 16px;
        flex: 0.6;
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 10px;
        a {
          text-decoration: none;
          display: inline-block;
          color: white;
          opacity: 0.6;
          margin-right: 10px;
          margin-left: 10px;
        }
      }
      .bottom__copyright {
        color: white;
        opacity: 0.6;
        font-size: 16px;
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 10px;
      }
    }
  }
}

@media (max-width: 800px) {
  .footer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px 20px 20px 20px;
    background-color: hsl(0, 0%, 12%);
    .logo {
      filter: brightness(184%) contrast(0%) saturate(0%) blur(0px)
        hue-rotate(0deg);
    }

    .footertop {
      display: flex;
      justify-content: flex-start;
      flex-direction: column-reverse;
      color: #ffffffbf;
      // padding: 50px 50px 20px 50px;
      .footertop__left {
        display: flex;
        flex: 0.5;
        flex-direction: column;
        padding: 30px;
      }
      .footertop__right {
        flex: 0.5;
        padding: 30px;

        .description {
          font-family: 'Poppins', Sans-serif;
          font-size: 13px;
        }

        .contact-line a {
          color: inherit;
          &:hover {
            color: #0084ff;
            text-decoration: none;
          }
          a:hover {
            color: #0084ff;
            text-decoration: none;
          }
        }
        .sign-up-btn {
          background-color: #0084ff;
          border-style: solid;
          border-width: 2px;
          border-color: #0084ff;
          padding: 10px 13px;
          color: #ffffff;
          border-radius: 3px;
          font-size: 15px;
          transition: 0.2s;
        }

        .sign-up-btn:hover {
          color: #0084ff;
          text-decoration: none;
          background-color: #1e1e1e;
        }
        h2 {
          color: white;
        }
      }
    }
    .footermiddle {
      .line {
        height: 0.1px;
        background: rgba(255, 255, 255, 0.5);
      }
      .footermiddle__featured {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 400px;
        margin-bottom: 5px;
        p {
          font-size: 25px;
          margin-top: 30px;
          margin-right: 20px;
          color: #ffffff26;
          font-weight: bold;
          // padding: 10px;
          filter: brightness(0%) contrast(0%) saturate(0%) blur(0px)
            hue-rotate(0deg);
        }
        img {
          filter: brightness(50%) contrast(50%) saturate(0%) blur(0px)
            hue-rotate(0deg);
        }
      }
      .footer__bottom {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        .bottom__privacy {
          display: flex;
          color: white;
          align-items: center;
          font-size: 16px;
          flex: 0.6;
          margin-right: 10px;
          margin-left: 10px;
          margin-top: 10px;
          a {
            text-decoration: none;
            display: inline-block;
            color: white;
            opacity: 0.6;
            margin-right: 10px;
            margin-left: 10px;
          }
        }
        .bottom__copyright {
          color: white;
          opacity: 0.6;
          font-size: 16px;
          text-align: center;
          margin-right: 10px;
          margin-left: 10px;
          margin-top: 10px;
        }
      }
    }
  }
}
