.removal_page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0px 40px 40px 40px;
}

.removal_page .removal_page__left {
  border-radius: 5px;
  width: 320%;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 20px;
}

.removal_page .removal_page__left p {
  font-family: 'Poppins', Sans-serif;
}

.removal_page .removal_page__left .left__heading1 {
  color: black;
  font-weight: 500;
  line-height: 2;
  font-size: 15px;
  margin-bottom: 20px;
}

.removal_page .removal_page__left .left__heading1 button {
  background-color: #0084ff;
  padding: 5px 30px;
  color: white;
  border: 0px;
  border-radius: 5px;
}

.removal_page .removal_page__left .left__heading1 button:hover {
  background-color: black;
  -webkit-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

.removal_page .removal_page__left .left__heading2 {
  color: black;
  font-weight: 500;
  line-height: normal;
  font-size: 30px;
  margin-bottom: 15px;
}

.removal_page .removal_page__left .left__heading3 {
  color: black;
  line-height: 1.2;
  margin-bottom: 5px;
  font-size: 18px;
  text-align: justify;
  margin-bottom: 20px;
}

.removal_page .removal_page__left .left__form {
  border: 1px solid #eee;
  border-radius: 5px;
}

.removal_page .removal_page__left .left__form .form__tabs {
  margin: 15px 15px 12px 15px;
  border: 1px solid #eee;
}

.removal_page .removal_page__left .left__form .form__tabs .ant-tabs-tab-btn {
  color: #c36;
  font-size: 18px;
  font-family: poppins;
}

.removal_page .removal_page__left .left__form .form__tabs .ant-tabs-tab-btn:hover {
  color: #0084ff;
}

.removal_page .removal_page__left .left__form .form__tabs .ant-tabs-tab-active .ant-tabs-tab-btn {
  line-height: 1.8;
  font-size: 18px;
  color: #333;
}

.removal_page .removal_page__left .left__form a {
  text-decoration: none;
}

.removal_page .removal_page__left .left__form button {
  display: inline-block;
  margin: 0px 10px;
  text-align: center;
  width: 100px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 9px 12px;
  border: 2px solid #eee;
  border-radius: 5px;
  font-size: 20px;
  background-color: #0084ff;
  font-family: 'Poppins', Sans-serif;
  color: white;
  cursor: pointer;
}

.removal_page .removal_page__left .left__form button:hover {
  background-color: black !important;
  -webkit-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

.removal_page .removal_page__left .left__form .buttonlist__additional {
  background-color: #413fc8;
}

.removal_page .removal_page__left .left__form .buttonlist__additional:hover {
  background-color: #23a455 !important;
  -webkit-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

.removal_page .removal_page__left .left__form .buttonlist__family {
  background-color: #3fc874;
}

.removal_page .removal_page__left .left__form .buttonlist__family:hover {
  background-color: #23a455 !important;
  -webkit-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

.removal_page .removal_page__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.removal_page .removal_page__right .right__info {
  border: 2px solid white;
  background-color: #fffcbe;
  border-radius: 5px;
  padding: 10px 20px;
}

.removal_page .removal_page__right .right__info p {
  font-family: 'Poppins', Sans-serif;
}

.removal_page .removal_page__right .right__info .info__heading1 {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  color: black;
  font-size: 20px;
  font-weight: 500;
}

.removal_page .removal_page__right .right__info .info__heading2 {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.removal_page .removal_page__right .right__info .viewremoval__button {
  display: block;
  padding: 9px;
  width: 80%;
  text-align: center;
  margin: 0 auto 20px auto;
  font-size: 17px;
  text-align: center;
  background-color: #ff5300;
  font-family: 'Poppins', Sans-serif;
  border-radius: 5px;
  border: 0;
  outline: 0;
  text-decoration: none;
  color: white;
}

.removal_page .removal_page__right .right__info .viewremoval__button:hover {
  background-color: #c64000;
  -webkit-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

.removal_page .removal_page__right .right__family {
  margin-top: 20px;
  border-radius: 5px;
}

.removal_page .removal_page__right .right__family button {
  display: block;
  padding: 9px;
  width: 100%;
  text-align: center;
  margin: 0 auto 20px auto;
  font-size: 17px;
  text-align: center;
  font-family: 'Poppins', Sans-serif;
  border-radius: 5px;
  border: 0;
  outline: 0;
  text-decoration: none;
  color: white;
  background-color: #3fc874;
}

.removal_page .removal_page__right .right__family button:hover {
  background-color: #23a455 !important;
  -webkit-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

.removal_page input {
  font-size: 18px;
  font-family: 'Poppins', Sans-serif;
  font-weight: 400;
}

@media screen and (max-width: 1000px) {
  .removal_page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding: 0px;
    margin: 0px 10px 10px 10px;
  }
  .removal_page .removal_page__left {
    width: 100%;
    border-radius: 5px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 20px;
  }
  .removal_page .removal_page__left p {
    font-family: 'Poppins', Sans-serif;
  }
  .removal_page .removal_page__left .left__heading1 {
    color: black;
    font-weight: 500;
    line-height: 2;
    font-size: 15px;
    margin-bottom: 20px;
  }
  .removal_page .removal_page__left .left__heading1 button {
    background-color: #0084ff;
    padding: 5px 30px;
    color: white;
    border: 0px;
    border-radius: 5px;
  }
  .removal_page .removal_page__left .left__heading1 button:hover {
    background-color: black;
    -webkit-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
  }
  .removal_page .removal_page__left .left__heading2 {
    color: black;
    font-weight: 500;
    line-height: normal;
    font-size: 20px;
    margin-bottom: 15px;
  }
  .removal_page .removal_page__left .left__heading3 {
    color: black;
    line-height: 1.2;
    margin-bottom: 5px;
    font-size: 15px;
    text-align: justify;
    margin-bottom: 20px;
  }
  .removal_page .removal_page__left .left__form {
    border: 1px solid #eee;
    border-radius: 5px;
  }
  .removal_page .removal_page__left .left__form .form__tabs {
    margin: 15px 15px 12px 15px;
    border: 1px solid #eee;
  }
  .removal_page .removal_page__left .left__form .form__tabs .ant-tabs-tab-btn {
    color: #c36;
    font-size: 18px;
    font-family: poppins;
  }
  .removal_page .removal_page__left .left__form .form__tabs .ant-tabs-tab-btn:hover {
    color: #0084ff;
  }
  .removal_page .removal_page__left .left__form .form__tabs .ant-tabs-tab-active .ant-tabs-tab-btn {
    line-height: 1.8;
    font-size: 18px;
    color: #333;
  }
  .removal_page .removal_page__left .left__form a {
    text-decoration: none;
  }
  .removal_page .removal_page__left .left__form button {
    display: inline-block;
    margin: 0px 10px;
    text-align: center;
    width: 100px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding: 9px 12px;
    border: 2px solid #eee;
    border-radius: 5px;
    font-size: 20px;
    background-color: #0084ff;
    font-family: 'Poppins', Sans-serif;
    color: white;
    cursor: pointer;
  }
  .removal_page .removal_page__left .left__form button:hover {
    background-color: black !important;
    -webkit-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
  }
  .removal_page .removal_page__left .left__form .buttonlist__additional {
    background-color: #413fc8;
  }
  .removal_page .removal_page__left .left__form .buttonlist__additional:hover {
    background-color: #23a455 !important;
    -webkit-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
  }
  .removal_page .removal_page__left .left__form .buttonlist__family {
    background-color: #3fc874;
  }
  .removal_page .removal_page__left .left__form .buttonlist__family:hover {
    background-color: #23a455 !important;
    -webkit-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
  }
  .removal_page .removal_page__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 20px;
  }
  .removal_page .removal_page__right .right__info {
    border: 2px solid white;
    background-color: #fffcbe;
    border-radius: 5px;
  }
  .removal_page .removal_page__right .right__info p {
    font-family: 'Poppins', Sans-serif;
  }
  .removal_page .removal_page__right .right__info .info__heading1 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    color: black;
    font-size: 20px;
    font-weight: 500;
  }
  .removal_page .removal_page__right .right__info .info__heading2 {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
  }
  .removal_page .removal_page__right .right__info .viewremoval__button {
    display: block;
    padding: 9px;
    width: 80%;
    text-align: center;
    margin: 0 auto 20px auto;
    font-size: 17px;
    text-align: center;
    background-color: #ff5300;
    font-family: 'Poppins', Sans-serif;
    border-radius: 5px;
    border: 0;
    outline: 0;
    text-decoration: none;
    color: white;
  }
  .removal_page .removal_page__right .right__info .viewremoval__button:hover {
    background-color: #c64000;
    -webkit-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
  }
  .removal_page .removal_page__right .right__family {
    margin-top: 20px;
    border-radius: 5px;
  }
  .removal_page .removal_page__right .right__family button {
    display: block;
    padding: 9px;
    width: 100%;
    text-align: center;
    margin: 0 auto 20px auto;
    font-size: 17px;
    text-align: center;
    font-family: 'Poppins', Sans-serif;
    border-radius: 5px;
    border: 0;
    outline: 0;
    text-decoration: none;
    color: white;
    background-color: #3fc874;
  }
  .removal_page .removal_page__right .right__family button:hover {
    background-color: #23a455 !important;
    -webkit-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
  }
}
/*# sourceMappingURL=removal_page.css.map */