@media screen and (min-width: 1600px) {
  .main_container {
    width: 1600px;
    margin: 0 auto !important;
  }
  .floating_button__main {
    width: 1600px !important;
    margin: 0 auto !important;
    justify-content: flex-start !important;
  }
}
